<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel="stylesheet" href="/javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.css">
  </head>
  <body>
  	<div class="container fill">
  	<div class="row">
		{{#if org.logo}}
			<div class="col-xs-4">
				<a href="/org/{{org.shortPath}}"><img src="/uploads/{{org.logo.fileName}}" id="orgLogo" class="img img-responsive col-xs-12" style="float:right;max-width:250px;"/></a>
			</div>
			<div class="col-xs-4">
				<a href="/"><img src="/images/logo-main.png" id="mainImage" class="img img-responsive col-xs-12" style="max-width:135px;"/></a>
			</div>
		{{else}}
			<div class="col-xs-5">
				<a href="/"><img src="/images/logo-main.png" id="mainImage" class="img img-responsive col-xs-12" /></a>
			</div>
			<div class="col-xs-3"></div>
		{{/if}}
		<div class="col-xs-1"></div>
		<div class="col-xs-2" style="margin-top:30px;">
			{{#if isAdmin}}
				<button type="button" class="btn alt-btn dropdown-toggle" data-toggle="dropdown">Organization <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="/org/{{org.shortPath}}/theme">Theme Settings</a></li>
					<li><a href="/org/{{org.shortPath}}/departments">Departments</a></li>
					<li><a href="/org/{{org.shortPath}}/donations">Donation Management</a></li>
				</ul>
			{{/if}}

			{{#unless isSubscriber}}
				<a type="button" class="btn alt-btn" href="/org/{{org.shortPath}}/subscribe">Subscribe</span></a>
			{{/unless}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6"></div>
		<div class="col-xs-6" id="menu">
			<a class="menu-item" id="homeMenuItem" href="/org/{{org.shortPath}}">Home</a>
			<a class="menu-item" id="needsMenuItem" href="/org/{{org.shortPath}}/needs">Needs</a>
			{{#if user}}				
				<a class="menu-item" id="dashboardMenuItem" href="/dashboard">Dashboard</a>
				<a class="menu-item" id="logoutMenuItem" href="/logout">Logout</a>
			{{else}}
				<a class="menu-item" id="loginMenuItem" href="/login">Login</a>
				<a class="menu-item" id="registerMenuItem" href="/register">Register</a>
			{{/if}}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			{{#if success_msg}}
				<div class="alert alert-success">{{success_msg}}</div>
			{{/if}}
		</div>
	</div>	
    	{{{body}}}
    </div>
    <script src='/javascripts/jquery-3.1.1.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src='/javascripts/jscolor.min.js'></script>
    <script src='/javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.js'></script>
	<script>
		$(document).ready(function(){
	    	{{#if activeMenuItem}}
	    		$('#{{activeMenuItem}}').addClass("active");
	    	{{/if}}
			$('.datepicker').datepicker();   
		});
	</script>
  </body>
</html>
<style>
	.container {
		background: white;
		border: 1px solid #ccc;
		margin-top: 1px;
		max-width:900px;
	}
	.fill {
	    min-height: 100%;
	    height:auto !important; /* cross-browser */
	    height: 100%; /* cross-browser */
	    display: block;
	}
	#menu .active, #menu .active:hover {
		color: {{org.secondaryColor}};
	}
	.margin-bottom {
		margin-bottom: 10px;
	}
	html, body {
		height:100%;
	}
	h1, h2 {
		color: {{org.primaryColor}};
		font-weight: bold;
	}
	body {
		border-top: 10px solid {{org.primaryColor}};
		background: #f1f1f1;
	}
	#mainImage {
		margin: 10px;
	}
	#menu a {
		color: #555555;
		font-size: 22px;
		font-weight: bold;
	}
	#menu .menu-item {
		margin-right:10px;
	}
	#menu a:hover {
		color: {{org.secondaryColor}};
		text-decoration: none;
		cursor: pointer;
	}
	.point:hover {
		cursor: pointer;
	}
	.row {

	}
	.btn, .btn:hover, .btn:focus, .btn:active {
		color: #fff;
		background-color: {{org.secondaryColor}};
		outline: none;
	}
	.alt-btn, .alt-btn:hover, .alt-btn:focus, .alt-btn:active {
		color: #fff;
		background-color: {{org.primaryColor}};
		outline: none;		
	}
	.prgrs {
		background-color: {{org.primaryColor}}
	}
	.dis-btn, .dis-btn:hover, .dis-btn:active, .dis-btn:focus {
		background-color: grey;
	}
	.org-link, .org-link:hover, .org-link:active, .org-link:focus {
		color: {{org.primaryColor}};
	}
	.distinct-text {
		font-size: 150%;
		margin: 10px;
	}
	.large-text {
		font-size: 150%;
	}
	p {
		color: #5b5b5b;
		line-height: 30px;
		margin-top:10px;
	}
	#spreadTheWord {
		color: #5b5b5b;
		line-height: 24px;
	}
	#themeForm, #newNeedForm {
		text-align: right;
	}
	#needsFilter {
		padding: 10px;
		border: solid 1px #eee;
	}
</style>