<hr>
<div class="row">
	<div class="col-xs-5" style="text-align:center;">
		{{#if error}}
			<div class="alert alert-danger">{{error}}</div>
		{{/if}}
		<div class="smallMargin"><strong>{{user.firstName}} {{user.lastName}}</strong></div>
		{{#if user.avatar}}
			<img src="/uploads/{{user.avatar.fileName}}" 
		onclick="$('#avatarUpload').click();" class="img img-circle" height="100px" width="100px" style="border: solid 1px #ccc;cursor: pointer;"/>
		{{else}}
			<img src="/images/no-avatar.png" 
		onclick="$('#avatarUpload').click();" class="img img-circle" height="100px" width="100px" style="border: solid 1px #ccc;cursor: pointer;"/>		
		{{/if}}
		<form method="POST" id="avatarForm" enctype="multipart/form-data">
			<input id="avatarUpload" type="file" name="avatar" onchange="$('#avatarForm').submit();" style="display:none;"/>
		</form>
		<div class="smallMargin"><small>Joined {{joinedDate}}</small></div>
	</div>
	<div class="col-xs-1" style="border-left: solid 1px #eee;height:350px;"></div>
	<div class="col-xs-6">
		<ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" href="#orgs">Organizations</a></li>
		  <li><a data-toggle="tab" href="#subs">Subscriptions</a></li>
		</ul>
		<div class="tab-content">
			<div id="orgs" class="tab-pane fade in active">
				<h2>Your Organizations</h2>
				<ul class="list-group">
					{{#if orgs}}
						{{#each orgs}}
					    	<li class="list-group-item"><a href="/org/{{this.shortPath}}">{{this.name}}</a><span class="badge">0 Subscribers</span></li>
						{{/each}}
					{{/if}}
  				</ul>
				<a type="button" class="btn" href="/org-create">Create organization</a>
			</div>
			<div id="subs" class="tab-pane fade">
				<h2>Your Subscriptions</h2>
			</div>
		</div>
	</div>
</div>