<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
  	<div class="container fill">
    	{{{body}}}
    </div>
    <script src='/javascripts/jquery-3.1.1.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
  </body>
</html>
<style>
	.container {
		background: white;
		border: 1px solid #ccc;
		margin-top: 1px;
		max-width:900px;
	}
	.fill {
	    min-height: 100%;
	    height:auto !important; /* cross-browser */
	    height: 100%; /* cross-browser */
	    display: block;
	}
	html, body {
		height:100%;
	}
		h1 {
		color: {{org.primaryColor}};
		font-weight: bold;
	}
	body {
		border-top: 10px solid {{org.primaryColor}};
		background: #f1f1f1;
	}
	#menu {
		margin-top: 50px;
		margin-bottom: 25px;
	}
	#menu a {
		color: #555555;
		font-size: 22px;
		font-weight: bold;
	}
	#menu a:hover {
		color: {{org.secondaryColor}};
		text-decoration: none;
		cursor: pointer;
	}
	.row {
		margin-bottom: 10px;
	}
	.btn, .btn:hover, .btn:focus, .btn:active {
		color: #fff;
		background-color: {{org.secondaryColor}};
		outline: none;
	}
	p {
		color: #5b5b5b;
		line-height: 24px;
	}
	#spreadTheWord {
		color: #5b5b5b;
		line-height: 24px;
	}
</style>