<h2 style="margin-bottom:30px;">{{pageHeader}}</h2>
{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
{{/if}}
{{#if error}}
	<div class="alert alert-danger">{{error}}</div>
{{/if}}
<form id="newNeedForm" method="POST">
	<div class="row">
		<div class="col-xs-5">
			<div class="form-group row">
				<div class="col-xs-5">
					<label for="needTitle">Need Title:</label>
				</div>
				<div class="col-xs-7">
					<input class="form-control" id="needTitle" name="needTitle" type="text" value="{{need.title}}">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-xs-5">
					<label for="needTitle">Quantity/Amount($):</label>
				</div>
				<div class="col-xs-7">
					<input class="form-control" id="amount" name="amount" type="text" value="{{need.goalAmount}}">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-xs-5">
					<label for="secondaryColor">Need Type:</label>
				</div>
				<div class="col-xs-7">
					<select class="form-control" id="needType" name="needType">
						<option value="monetary" {{selected need.needType "monetary"}}>Monetary</option>
						<option value="non-monetary" {{selected need.needType "non-monetary"}}>Non-monetary</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-xs-5">
					<label for="logo">Department:</label>
				</div>
				<div class="col-xs-7">
					<select class="form-control" id="department" name="department">
						
						{{#each org.departments}}
							{{#if (isAdvocateOfDepartment this ../user)}}<option value="{{this.id}}" {{selected ../need.department.id this.id}}>{{this.departmentName}}</option>{{/if}}
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-xs-5">
					<label for="needDate">Needed By:</label>
				</div>
				<div class="col-xs-7">
					<input class="form-control datepicker" id="needDate" type="text" name="needDate" value="{{formatTime need.needDate "MM/DD/YYYY"}}"/>
				</div>
			</div>
		</div>
		<div class="col-xs-6" style="border-left: solid 1px #eee;height:350px;">
			<div class="form-group row">
				<div class="col-xs-4">
					<label for="primaryColor">Description:</label>
				</div>
				<div class="col-xs-8">
					<textarea class="form-control" id="description" name="description" rows="6" maxlength="400">{{need.description}}</textarea>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-xs-12">
					<input type="submit" class="btn" value="Submit"/>
				</div>
			</div>
		</div>
	</div>
</form>