<h1>{{org.name}}</h1>
<div class="row">
	<div class="col-xs-5">
		<p>{{org.welcomeText}}</p>

	</div>
	<div class="col-xs-6">
		{{#if org.welcomeImage}}
			<img class="img img-responsive img-thumbnail" src="/uploads/{{org.welcomeImage.fileName}}">
		{{else}}
			<img class="img img-responsive img-thumbnail" src="/images/stock.jpg">
		{{/if}}
	</div>
	<div class="col-xs-1"></div>
</div>
<hr>
<div class="row">
	<div class="col-xs-8">
		{{#each contributions}}
			{{#if (slideGroupBeg @index ../panels)}}
				<div class="slideGroup">
			{{/if}}
			<div class="col-xs-6">
				<div class="panel panel-default" id="panel{{@index}}">
					<div class="panel-heading"><strong>{{this.publicName}}</strong></div>
					{{#if (isMonetary this.need.needType)}}
						<div class="panel-body">{{this.publicName}} donated ${{formatCurrency this.contributionAmount}} to the need, '{{this.need.title}}' on {{formatTime this.createdAt "MMM DD, YYYY"}}. Thank you!</div>
						
					{{else}}
						<div class="panel-body">{{this.publicName}} donated {{this.contributionAmount}} item(s) to the need, '{{this.need.title}}' on {{formatTime this.createdAt "MMM DD, YYYY"}}. Thank you!</div>
					{{/if}}
				</div>			
			</div>
			{{#if (slideGroupEnd @index ../panels)}}
				</div>
			{{else}}
				{{#if @last}}
					</div>
				{{/if}}
			{{/if}}
		{{/each}}
	</div>
	<div class="col-xs-4" style="z-index:2;background-color:white;">
		<h2>Thank you!</h2>
		<p>{{org.thankYouText}}</p>
		<a type="button" class="btn" href="/org/{{org.shortPath}}/needs">See current needs</a>
	</div>
</div>
<hr>
<h1>Get the word out</h1>
<div class="row">
	<div class="col-xs-12" id="spreadTheWord">
		Please help spread the word about {{org.name}} by contacting a friend below!
	</div>
</div>
<div class="row margin-bottom">
	<div class="col-xs-4">
		<input type="text" placeholder="Email Address" class="form-control"/>
	</div>
	<div class="col-xs-2">
		<input type="button" class="btn" value="Tell a Friend"/>
	</div>
	<div class="col-xs-6"></div>
</div>